input[type="submit"],
input[type="reset"],
button,
.button {
	@include button;

	&.button-large {
		text-transform: uppercase;
		font-family: $font__headings;
		padding: 0.75rem 1.5rem;
		@media screen and (min-width: 1000px) {
			font-size: 125%;
		}
	}

	&.button-secondary {
		background: #aaa;
		@include hover {
			background: #bbb;
		}
	}

	&.button-search {
		background-image: url("../icons/icon_search.svg");
		background-repeat: no-repeat;
		background-position-y: 50%;
		background-position-x: 1rem;
		background-size: 1.5rem;
		padding-left: 3rem;
	}
	&.button-download {
		background-image: url("../icons/icon_download.svg");
		background-repeat: no-repeat;
		background-position-y: 50%;
		background-position-x: 1rem;
		background-size: 1.5rem;
		padding-left: 3rem;
	}
}
