// Describe all psuedo state classes
@mixin hover {
	&:active,
	&:focus,
	&:hover,
	&:focus-within {
		@content;
	}
}

@mixin button() {
	border-radius: 0; //$border__radius;
	border: 0;
	background: $color__accent;
	color: $color__text-button;
	font-size: $font__small_size;
	line-height: 1.5; //$font__line-height-body;//1;
	text-decoration: none;
	padding: 0.6rem 1rem;
	&:hover {
		color: $color__text-button;
		background-color: $color__link-hover;
	}

	&:active,
	&:focus {
		color: $color__text-button;
		background-color: $color__link-hover;
		box-shadow: 0 0 5px rgba($color__link-hover, 1);
	}
}

// Reset our ul/ol lists
@mixin reset-list {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
}
