.cotton-search-results {
	margin: 2rem 0;

	ul,
	ol {
		@include reset-list;
		border: $style__border;
		// counter-reset: my-awesome-counter;
	}

	li {
		padding: 0.75rem 1rem;
		border-bottom: $style__border;

		display: flex;
		justify-content: space-between;
		align-items: center;

		&:last-child {
			border-bottom: 0;
		}
		&:nth-child(even) {
			background: $color__background-alt;
		}
	}
	.cotton-results-title {
		// counter-increment: my-awesome-counter;
		// &::before {
		// 	content: counter(my-awesome-counter) ". ";
		// 	color: $color__text-main;
		// 	font-weight: bold;
		// }
	}

	.cotton-search-actions {
		padding: 2rem 0;
		margin: 2rem 0;

		display: flex;
		flex-direction: column;
		align-items: center;

		text-align: center;

		border-top: $style__border;
		border-bottom: $style__border;

		a {
			display: inline-block;
			margin: 0.5rem;
		}

		@media screen and (min-width: 1000px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	.pagination {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 0.5rem 3rem;
		margin: 2rem 0;

		border-top: $style__border;
		border-bottom: $style__border;
	}
}
