h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color__text-heading;
	font-family: $font__headings;
	font-weight: $font__headings_weight;
}
h1,
h2 {
	// font-weight: 700;
}
.cotton-search-results {
	h1,
	h2 {
		text-align: center;
		text-transform: uppercase;
	}
}
