$colors: (
	"blue": (
		base: #024a87,
		txt: #004a87,
	),
	"green": (
		base: #1d6f42,
	),
	"gray": (
		light: #f3f2f2,
		//dedede99
		dark: #333,
		medium: #e8e8e8,
	),
	"white": (
		base: #fff,
	),
);

@function color($color-name, $tone: base) {
	@return map-get(map-get($colors, $color-name), $tone);
}

$color__accent: color("blue", "base");

$color__background-body: color("white", "base");
$color__background-alt: color("gray", "light");

$color__background-fields: color("gray", "light");

$color__separator: color("gray", "medium");

// $color__text-screen: #21759b;
$color__text-input: color("gray", "medium");
$color__text-input-focus: color("gray", "dark");

$color__text-button: color("white", "base");

$color__link: $color__accent;
$color__link-visited: $color__accent;
$color__link-hover: lighten($color__link, 12%);

$color__text-main: color("gray", "dark");
$color__text-heading: color("blue", "txt");
