// $font__main: 'brandon-grotesque', 'Lato', sans-serif;
$font__headings: "Raleway", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
// $font__line-height-body: 1.7;//1.6;
// $font__line-height-headings: 1.2;
$font__line-height-pre: 1.6;
$font__base-size: 18;
$font__small_size: 85%; //75%;
$font__smallest_size: 75%;
$font__headings_weight: 600;
